@font-face {
    font-family: "norse";
    src: url("./fonts/norse-bold.otf_1-webfont.woff") format("woff"),
        url("./fonts/norse-bold.otf_1-webfont.woff2") format("woff2");
        font-weight: normal;
        font-style: normal;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.main{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex: column;
}
.side-wrapper{
    background-image: url(./images/photo-1585202900225-6d3ac20a6962.jpeg);
    width: 35vw;
    height: 100vh;
    position: relative;
    
}
.odin-wrapper{
    background-color: rgb(0, 0, 0);
    opacity: 0.8;
    position: absolute;
    height: 105px;
    width: 100%;


    top:25vh;
    display: flex;
    justify-content: center;
    gap: 5px;
}
#odin{
    color: white;
    font-family: "norse",sans-serif;
    font-size: 75px;
    
}
.side-wrapper>p{
    color: white;
    position: absolute;
    bottom: 5px;
    width: 100%;

    
    display: flex;
    justify-content: center;
}
p>a:link{
    color: white;
    margin: 0 2.5px;
}
.formHeader{
   
    height:39.2vh;
    width: 65vw;
    background-color: #E5E7EB;
    color: rgb(0, 0, 0);
    font-weight: 800;
}
.beforeForm{
    width: 39vw;
    padding-top: 15vh;
}
#wrap{
    margin-top: 50px;
}
fieldset{
    border: none;
}
